
@media (min-width: 769px) {
  .partner-sec{
    padding-top: 100px;
    padding-bottom: 130px;
    .section-title{
      margin-bottom: 3px;
      color: #333333;
      font-weight: bold;
      text-align: center;
      font-size: 26px;
    }
    h4{
      color: #333333;
      text-align: center;
      font-weight: bold;
      margin-bottom: 100px;
    }
    .items{
      white-space: nowrap;
      margin-bottom: 0;
      overflow: hidden;
    }
    .item {
      display: inline-block;
      padding: 0;
      float: none;
    }
    .img-responsive{
      width: 100%;
    }
  }


}



@media (max-width: 768px) {
  body{
  }
  .section{
    margin-top: 30px;
    margin-bottom: 20px;
    h1,h2,h3,h4,h5,h6,p,ul,li,img,video{
      padding: 0 ;
      margin: 0 ;
    }
    a{
      color: #565656;
    }
    hr{
      margin-top: 5px;
      margin-bottom: 8px;
    }
    .section-title{
      font-weight: bold;
      font-size:18px;
      //color: #207fdc;
      //color: #337ab7;
      //color: #4495e4;
      color: #006699;
    }
  }

  .pro-sec{
    hr{
      margin-bottom: 15px;
    }
    //.pro-item{
    //  margin: 5px;
    //  padding: 10px 0;
    //  display: block;
    //  background-color: rgb(230,240,255);
    //  border-radius: 10px;
    //  .pro-item-title{
    //    height: 60px;
    //    line-height: 60px;
    //    font-size: 20px;
    //    color: #666666;
    //    text-align: center;
    //    padding-right: 15px;
    //  }
    //}
    .pro-item{
      padding: 10px;
      display: block;
      .img-responsive{
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 2px 1px rgba(30,30,30,.1);
      }
    }
  }
  .news-sec{
    .news-main{
      position: relative;
      .news-main-title {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.5);
        >a{
          display: block;
          font-size: 16px;
          text-align: left;
          line-height: 1.3;
          padding: 10px !important;
          color: #fff;
        }
      }
    }
    .news-else{
      padding: 5px 0 !important;
      .news-else-title{
        a{
          display: block;
          width: 100%;
          font-size: 15px;
          padding: 8px 0 2px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          border-bottom: 1px solid #efefef;
        }
      }
    }
  }
  .video-sec{
    .video-box{
      video{
        width: 100%;
        height: auto;
      }
    }
    .video-info{
      font-size: 14px;
      color: #666666;
      text-indent: 2em;
      line-height: 1.6;

    }
  }
  .og-sec{
    .og-item{
      margin-bottom: 10px;
      .og-item-img{
        img{
          border: 1px solid #efefef;
        }
      }
      .og-item-info{
        position: relative;
        left: -13px;

        .og-item-info-title{
          margin-top: 5px;
          font-size: 15px;
          color: #666666;
        }
        .og-item-info-text{
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.3;
          color: #888888;
        }

      }
    }
  }
  .partner-sec{
    .items{
      margin-top: 10px;
      white-space: nowrap;
      margin-bottom: 0;
      overflow: hidden;
    }
    .item {
      display: inline-block;
      padding: 0;
      float: none;
    }
    .img-responsive{
      width: 100%;
    }
  }

  //关于我们页面
  .aboutPage{
    .about-sec{
      .text-box{
        p{
          text-indent: 2em;
          line-height: 1.6;
          font-size: 14px;
          margin-bottom: 10px;
          color: #666666;
        }
      }
      .fa{
        color: #006699;
      }
    }
    .team-sec{
      margin-top: 20px;
      .team-box{
        cursor: pointer;
        margin-top: 20px;
        .team-box-item{
          img{
            border: 1px solid #eeeeee;
          }
          h4{
            text-align: center;
            margin-top: 5px;
            margin-bottom: 20px;
            font-size: 14px;
            color: #666;
          }
        }
      }
      #DrModal{
        //z-index: 2;
      }
    }
    .advan-sec{
      padding-top: 10px;
      margin-bottom: 0;
      background-color: rgba(250,250,250,1);
      .advan-box{
        margin-top: 10px;
        .advan-box-item{
          padding: 5px;
          background-color: #FFFFFF;
          margin-bottom: 15px;
          h4{
            //text-align: center;
            margin-top: 5px;
            margin-bottom: 3px;
            font-size: 18px;
            color: #666666;
            line-height:1.6;
          }
          p{
            //text-align: center;
            font-size: 14px;
            color: #888888;
            line-height: 1.6;
            margin-bottom: 10px;
          }
        }
      }
    }

  }


}

