#news-content .container {
  padding-top: 50px;
  padding-bottom: 30px;
}
#news-content .container .news-details-title {
  margin-bottom: 30px;
  font-size: 36px;
  color: #444444;
}
#news-content .container .news-details-info {
  color: #006699;
}
#news-content .container .news-details-info .fa {
  color: #006699;
}
#news-content .container .news-details-info span {
  font-weight: normal;
}
#news-content .container hr {
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #news-content .container {
    padding-top: 20px;
  }
  #news-content .container .news-details-title {
    font-size: 22px;
    color: #444444;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #news-content .container .news-details-info {
    font-size: 13px;
  }
  #news-content .container .news-details-info .fa {
    color: #006699;
    font-weight: normal;
  }
  #news-content .container .news-details-info span {
    font-weight: normal;
  }
  #news-content .container hr {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}
