//大于手机屏幕的样式
@media (min-width:768px) {
}

.productsList{
  //background-color: #efefef ;
  .container{
    .pro-item{
      .pro-item-heading{
        .heading-title{
          //color: #4495e4;
          color: #006699;
          font-size: 24px;
        }
        .sub-title{
          color: #006699;
          //color: #4495e4;
          margin-top: 10px;
          margin-bottom: 10px;
        }

      }
      .pro-item-heading{
        margin-top: 60px !important;
      }
      .service-style-box{
        margin-bottom:40px;
        h2{
          a{
            font-family: 'sans-serif';
            font-size: 14px;
            font-weight: normal;
            //color: #4495e4;
            color: #006699;
          }
        }

      }
    }
  }
}


//手机屏幕样式
@media (max-width: 768px) {
  .productsList{
    .panel-group{
      .panel{
         margin-top: 20px;
        .panel-heading{
          .panel-title{
            //letter-spacing: 2px;
            //font-weight: bold;
          }
        }
        .panel-body{
          ul{
            padding-left: 30px;
            li{
              margin-bottom: 10px;
              a{
                width: 100%;
                color: #666666;
              }
            }
          }
        }
      }
    }
  }
}