.productsList .container .pro-item .pro-item-heading .heading-title {
  color: #006699;
  font-size: 24px;
}
.productsList .container .pro-item .pro-item-heading .sub-title {
  color: #006699;
  margin-top: 10px;
  margin-bottom: 10px;
}
.productsList .container .pro-item .pro-item-heading {
  margin-top: 60px !important;
}
.productsList .container .pro-item .service-style-box {
  margin-bottom: 40px;
}
.productsList .container .pro-item .service-style-box h2 a {
  font-family: 'sans-serif';
  font-size: 14px;
  font-weight: normal;
  color: #006699;
}
@media (max-width: 768px) {
  .productsList .panel-group .panel {
    margin-top: 20px;
  }
  .productsList .panel-group .panel .panel-body ul {
    padding-left: 30px;
  }
  .productsList .panel-group .panel .panel-body ul li {
    margin-bottom: 10px;
  }
  .productsList .panel-group .panel .panel-body ul li a {
    width: 100%;
    color: #666666;
  }
}
